In [1]:
#117p

import pandas as pd
data = {'name': ['jerry', 'Rich', 'Paul'],
        'algol' : ['A', 'A+', 'B'],
        'basic':['c','B','B+'],
        'C++':['B+','C','C+'] }
df = pd.DataFrame( data )
df = df.set_index('name')
df

      algol basic C++
name
jerry     A     c  B+
Rich     A+     B   C
Paul      B    B+  C+

In [5]:
df.to_csv('./data/df_sample_0423.csv')                                                                                                
df.to_csv('./data/df_sample_0423_index_false.csv', index=False)

In [6]:
#119

import pandas as pd
data = {'name': ['jerry', 'Rich', 'Paul'],
        'algol' : ['A', 'A+', 'B'],
        'basic':['c','B','B+'],
        'C++':['B+','C','C+'] }
df = pd.DataFrame( data )
df = df.set_index('name')
df

      algol basic C++
name
jerry     A     c  B+
Rich     A+     B   C
Paul      B    B+  C+

In [8]:
df.to_json('./data/df_sample_0423_basic.json' )

In [9]:
df.to_json('./data/df_sample_0423_split.json', orient = 'split' )
# index, columns, data로 분리해서 json으로 저장한다.

In [10]:
df.to_json('./data/df_sample_0423_records', orient = 'records') 
# 각행을 별도의 로 저장한다.

# 엑셀 파일로 저장하기
p.122

In [17]:
import pandas as pd

# 판다스 DataFrame() 함수로 데이터프레임 변환. 변수 df1, df2에 저장 
data1 = {'name' : [ 'Jerry', 'Riah', 'Paul'],
         'algol' : [ "A", "A+", "B"],
         'basic' : [ "C", "B", "B+"],
          'c++' : [ "B+", "C", "C+"]}

data2 = {'c0':[1,2,3], 
         'c1':[4,5,6], 
         'c2':[7,8,9], 
         'c3':[10,11,12], 
         'c4':[13,14,15]}

df1 = pd.DataFrame(data1)
df1 = df1.set_index('name')      #name 열을 인덱스로 지정
print(df1)
df1.to_excel("./data/excel_0423.xlsx")
df1.to_excel('./data/excel_0423.xlsx', index=False)
print('\n')

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

In [18]:
df2 = pd.DataFrame(data2)
df2 = df2.set_index('c0')        #c0 열을 인덱스로 지정
print(df2)

    c1  c2  c3  c4
c0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15

In [25]:
# 데이터프레임 2개를 한 개의 엑셀 파일로 저장한 시트 1 - 1 데이터프레임
# 시트2 - 2데이터프레임

with pd.ExcelWriter('./data/excel_2_sheet.xlsx') as writer:
    df1.to_excel(writer, sheet_name='헤')
    df2.to_excel(writer, sheet_name='호')