In [1]:
# 리스트 자료를 시리즈로 만들기
import pandas as pd
list_data = [100,200,300]
list_sr = pd.Series(list_data, index=['a','b','c'])
print(list_sr)

a    100
b    200
c    300
dtype: int64

In [2]:
# 튜플 자료를 시리즈로 만들기
tuple_data = ( 300, 400 )
tuple_sr = pd.Series( tuple_data, index=['a','b'] )
print(tuple_sr)

a    300
b    400
dtype: int64

In [3]:
import pandas as pd
list1 = [ '2019-01-02', 3.14, 'ABC', 100, True ]
sr = pd.Series(list1)
sr_index = sr.index
sr_values = sr.values
print(sr_index)
print(sr_values)
print(sr.shape) # 중요!!! 컴퓨터 비전에서 데이터 내용을 파악할 때 많이 쓰는 명령어임!
print(sr.ndim) # n dimension (차원)

RangeIndex(start=0, stop=5, step=1)
['2019-01-02' 3.14 'ABC' 100 True]
(5,)
1

In [4]:
# 리스트 -> 시리즈
# 시리즈 -> 리스트
dic_data = {'딸기':5000, '바나나':3000}
sr_fruits = pd.Series(dic_data)
print(sr_fruits)
# 딸기, 바나나를 리스트로 저장하기
fruits = sr_fruits.index
# 가격을 리스트로 저장하기
price = sr_fruits.values
print('상품명: ', fruits)
print('상품의 가격: ', price)

딸기     5000
바나나    3000
dtype: int64
상품명:  Index(['딸기', '바나나'], dtype='object')
상품의 가격:  [5000 3000]

In [5]:
# 그림 1-5 코드 작성해보기
num_list = list(range(10, 61, 10))
i_list = ['a','b','c','d','e','f']
sr010 = pd.Series(num_list, index = i_list)

print(sr010)
# 30 출력
print(sr010['c'], sr010[2] )

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64
30 30

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_16004\180960101.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr010['c'], sr010[2] )

In [6]:
tup_data = ('영인', '2010-05_01', '여', True)
sr = pd.Series(tup_data, index = ['이름','생년월일','성별','학생여부'])
print(sr['성별'])
print( sr[ ['성별', '생년월일'] ] ) # 여러개의 인덱스명을 찍고 싶을 때 []
# 만약 학생이면 이름과 생년월일을 출력하고
# 아니면 이름만 출력하세요.
if sr['학생여부'] :
    print( sr[ ['이름', '생년월일'] ] )
else:
    print(sr['이름'])
# 이름 인덱스부터 성별 인덱스끼지 연속적인 인덱스 자료 선택하기
print( sr['생년월일' : '학생여부'])

여
성별               여
생년월일    2010-05_01
dtype: object
이름              영인
생년월일    2010-05_01
dtype: object
생년월일    2010-05_01
성별               여
학생여부          True
dtype: object

In [7]:
pd.Series() # 빈 시리즈 만들기
# print(sr_empty)
sr_5 = pd.Series(5)
sr_5 = pd.Series( 5, index=[100,200,300] )
print(sr_5)
# 데이터 0이고 인덱스 0~100
sr_0 = pd.Series( 0, range(0, 101, 1) )

100    5
200    5
300    5
dtype: int64

In [8]:
q_list = [100,200,300,400,500]
q_index = ['a','b','c','d','e'] 
s = pd.Series( q_list, index = q_index )
print(s)

a    100
b    200
c    300
d    400
e    500
dtype: int64

In [9]:
s = pd.Series([10, 20, 30, 40, 50], index = ['a','b','c','d','e'])
print( s[ ['b','d'] ] )

b    20
d    40
dtype: int64

In [11]:
s = pd.Series( [15,25,35,45,55], index=['a','b','c','d','e'] )
print( s[ s>30 ] )

c    35
d    45
e    55
dtype: int64

In [13]:
scores = {
    'Python': 95,
    'Math' : 88,
    'English' : 76,
    'History' : 82
}
s_scores = pd.Series( scores )
print( s_scores[ 'Python' ], s_scores[0] )

95 95

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_16004\1544545248.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print( s_scores[ 'Python' ], s_scores[0] )

In [22]:
# 6번 문제
s = pd.Series([12,24,36,48,60])
s.index = ['A','B','C','D','E']
print(s)
print()
print( s['A'], s[0] )
print()
# 또는
s = pd.Series([12,24,36,48,60], index = ['A','B','C','D','E'])
print(s)

A    12
B    24
C    36
D    48
E    60
dtype: int64

12 12

A    12
B    24
C    36
D    48
E    60
dtype: int64

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_16004\260552020.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print( s['A'], s[0] )

In [28]:
s = pd.Series([80,90,75,95,88])
print( s.mean() )
print( s.sum() )
print( s.max() )
print( s.min() )

85.6
428
95
75

In [29]:
s = pd.Series([42, 16, 58, 33, 95])

In [36]:
#문제 9 -nan은 숫자가 아니다.(not a number)
import numpy as np
s = pd.Series([10, np.nan, 30, np.nan, 50])
s_mean = s.mean()
s_0 = s.fillna(s_mean)
print( s_0 )

0    10.0
1    30.0
2    30.0
3    30.0
4    50.0
dtype: float64

In [37]:
s = pd.Series([True, False, True, False, True], index=['A', 'B', 'C', 'D', 'E'])
print( s[s].index )

Index(['A', 'C', 'E'], dtype='object')

In [40]:
s_num = [10,30,20,100]
#시리즈로 만들기
sr = pd.Series( s_num )
#30이상인 것만 출력하기
print( sr[ sr>=30 ] )

1     30
3    100
dtype: int64