## 문자열 메소드
책 p.82

In [1]:
import numpy as np
import pandas as pd

ser = pd.Series([
    "Apple_사과", "Banana_바나나", "Cherry_체리", np.nan],
                index=["First ", " Second", " Third", "Fourth"])
print(ser)
print("\n")

ser2 = pd.Series([
    "Apple_사과", "Banana_바나나", "Cherry_체리", np.nan],
                index=["First ", " Second", " Third", "Fourth"], dtype="string")
print(ser2)

First        Apple_사과
 Second    Banana_바나나
 Third      Cherry_체리
Fourth            NaN
dtype: object


First        Apple_사과
 Second    Banana_바나나
 Third      Cherry_체리
Fourth           <NA>
dtype: string

In [2]:
print( ser.str.lower() )
print("\n")

#대문자로 변환
print(ser.str.upper() )
print("\n")

# 문자열 길이 계산
print(ser.str.len() )

First        apple_사과
 Second    banana_바나나
 Third      cherry_체리
Fourth            NaN
dtype: object


First        APPLE_사과
 Second    BANANA_바나나
 Third      CHERRY_체리
Fourth            NaN
dtype: object


First       8.0
 Second    10.0
 Third      9.0
Fourth      NaN
dtype: float64

In [3]:
#문자열 분할
print(ser.str.split("_"))
print("\n")

# 문자열을 분할하여 DataFrame으로 확장
print(ser.str.split("_", expand=True))
print("\n")

# 분할된 문자열 중 특정 요소 선택
print(ser.str.split("_").str.get(1) )

print("-"*80)
# ex) a-10-b, a1-20-b2 시리즈로 만들기 index=['c0','c1']
ser1 = pd.Series( ['a-10-b', 'a1-20-b2'], index=['c0','c1'], dtype="string" )
print(ser1)
print()
# "-" 문자를 기준으로 분리하기
ser1_s = ser1.str.split("-")
print(ser1_s)
print()

# 10만 선택
ser1_g = ser1.str.split("-").str.get(1)
print(ser1_g)
print()

# ":","-" 문자를 기준으로 분리하기
ser1_2_s = ser1.str.split('[:\-]')
ser1_2_s

First        [Apple, 사과]
 Second    [Banana, 바나나]
 Third      [Cherry, 체리]
Fourth               NaN
dtype: object


              0    1
First     Apple   사과
 Second  Banana  바나나
 Third   Cherry   체리
Fourth      NaN  NaN


First       사과
 Second    바나나
 Third      체리
Fourth     NaN
dtype: object
--------------------------------------------------------------------------------
c0      a-10-b
c1    a1-20-b2
dtype: string

c0      [a, 10, b]
c1    [a1, 20, b2]
dtype: object

c0    10
c1    20
dtype: object

c0      [a, 10, b]
c1    [a1, 20, b2]
dtype: object

In [4]:
# 행 인덱스를 추출
idx = ser.index
print(idx)

# 양쪽 공백 제거
print(idx.str.strip() )

# 왼쪽 공백 제거
print(idx.str.lstrip() )

# 오른쪽 공백 제거
print(idx.str.strip() )

Index(['First ', ' Second', ' Third', 'Fourth'], dtype='object')
Index(['First', 'Second', 'Third', 'Fourth'], dtype='object')
Index(['First ', 'Second', 'Third', 'Fourth'], dtype='object')
Index(['First', 'Second', 'Third', 'Fourth'], dtype='object')

In [5]:
idx = ser.index
idx
idx.str.strip()
idx.str.lstrip()
idx.str.rstrip()

Index(['First', ' Second', ' Third', 'Fourth'], dtype='object')

In [6]:
# 정규표현식: 문자열의 패턴을 코드해서 패턴에 맞는 것 검색하기

ser = ser.str.replace("_", ",", regex=False)
ser

First        Apple,사과
 Second    Banana,바나나
 Third      Cherry,체리
Fourth            NaN
dtype: object

In [7]:
ser = ser.str.replace(",", "-", regex=False)
ser

First        Apple-사과
 Second    Banana-바나나
 Third      Cherry-체리
Fourth            NaN
dtype: object

In [8]:
print(ser.str.replace("[^a-zA-Z\s]", "", regex=True))
# 영문자 소문자, 대문자 공백을 제외하고 모든 문자열을 ""지우기, 바꾸기
print()

# 한글 출력하기
ser.str.replace("[a-zA-Z\-]", "", regex=True)

# 한글 제외
ser.str.replace("[^가-힣]","", regex=True)

First       Apple
 Second    Banana
 Third     Cherry
Fourth        NaN
dtype: object

First       사과
 Second    바나나
 Third      체리
Fourth     NaN
dtype: object

In [9]:
ser
print(ser.str[0:4])

print(ser.str[::-1])

First      Appl
 Second    Bana
 Third     Cher
Fourth      NaN
dtype: object
First        과사-elppA
 Second    나나바-ananaB
 Third      리체-yrrehC
Fourth            NaN
dtype: object

In [10]:
print(ser.str.contains("B", na=False) ) # ser dksdp "A" 문자가 있는지 검색
print()
ser.str.contains(r"[A|B][a-z]+") # r - 정규표현식 regex, [A|B] - 첫 글자가 A 또는 B, [a-z] - 두 번째 글자가 소문자, + 하나 이상

First      False
 Second     True
 Third     False
Fourth     False
dtype: bool

First       True
 Second     True
 Third     False
Fourth       NaN
dtype: object

In [ ]:
import re
pattern = 
ser.str.contains(r"[A|B][a-z]+") # r - 정규표현식 regex, [A|B] - 첫 글자가 A 또는 B, [a-z] - 두 번째 글자가 소문자, + 하나 이상

In [19]:
# 숫자 추출하기
ser3 = pd.Series(['a1','b2','c3','d4e5f9','e6f7','f8' ], dtype = "string" )
digits = ser3.str.extractall(r"(\d)").groupby(level=0).agg(''.join)
digits

     0
0    1
1    2
2    3
3  459
4   67
5    8

In [28]:
# 영문자 소문자 추출하기
print(ser3.str.extractall(r"([a-z])"))

print()
letters = ser3.str.extractall(r"([a-z])").groupby(level=0).agg(''.join)
letters

# 대문자 추출하기
ser4 = pd.Series(['A1','B2','C3','D4E5F9','E6F7', 'F8'], dtype="string" )
up = ser4.str.extractall(r"([A-Z])").groupby(level=0).agg(''.join)
print(up)
# 한글 추출하기
ser5 = pd.Series(['가1','나2','다3','라4마5바9', '바6사7','사8'], dtype="string")
ko = ser5.str.extractall(r"([가-힣])").groupby(level=0).agg(''.join)
ko

         0
  match
0 0      a
1 0      b
2 0      c
3 0      d
  1      e
  2      f
4 0      e
  1      f
5 0      f

     0
0    A
1    B
2    C
3  DEF
4   EF
5    F

     0
0    가
1    나
2    다
3  라마바
4   바사
5    사

In [42]:
ser3 = pd.Series(['a1','b2','c3','d4e5f9','e6f7','f8' ], dtype = "string" )

# 숫자와 문자를 따로 분리해서
split_columns = ser3.str.extract(r"(?P<문자>[a-z]+)(?P<숫자>\d+)")
print(split_columns)


print(split_columns)
split_columns = ser3.str.extractall(r"(?P<문자>[a-z]+)(?P<숫자>\d+)")
print(split_columns)

split_columns = ser3.str.extractall(r"(?P<Letter>[a-z]+)(?P<Digit>\d+)").groupby(level=0).agg(''.join)
split_columns

  문자 숫자
0  a  1
1  b  2
2  c  3
3  d  4
4  e  6
5  f  8
  문자 숫자
0  a  1
1  b  2
2  c  3
3  d  4
4  e  6
5  f  8
        문자 숫자
  match
0 0      a  1
1 0      b  2
2 0      c  3
3 0      d  4
  1      e  5
  2      f  9
4 0      e  6
  1      f  7
5 0      f  8

  Letter Digit
0      a     1
1      b     2
2      c     3
3    def   459
4     ef    67
5      f     8